//////////////////////////////////////////////////////////////////////
//
//  THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF
//  ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED
//  TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
//  PARTICULAR PURPOSE.
//
//  Copyright (C) 2003  Microsoft Corporation.  All rights reserved.
//
//  TextService.rc
//
//          Resources.
//
//////////////////////////////////////////////////////////////////////


IDI_LOGO ICON resources/logo.ico
IDI_TSFLOGO ICON resources/TextService.ico
IDI_TOOL ICON resources/tool.ico

IDI_MODE_ZHENG ICON resources/mode_zheng.ico
IDI_MODE_PANG ICON resources/mode_pang.ico
IDI_MODE_ZHU ICON resources/mode_zhu.ico