IDI_LOGO ICON resources/logo.ico
IDI_TSFLOGO ICON resources/TextService.ico

IDI_POWER_ON ICON resources/on.ico
IDI_POWER_OFF ICON resources/off.ico

IDI_MODE_FULL ICON resources/mode_full.ico
IDI_MODE_HALF ICON resources/mode_half.ico

IDI_PUNCT_FULL ICON resources/punct_full.ico
IDI_PUNCT_HALF ICON resources/punct_half.ico

IDI_TIP ICON resources/tip.ico

IDI_VKEYBOARD ICON resources/vkeyboard.ico

IDI_TOOL ICON resources/tool.ico